<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AMP_Test</title>
    <link href="css/site.css" rel="stylesheet">
    <script src="lib/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="data.js"></script>
</head>
<body ng-app="userSearch" ng-cloak>
	<div ng-controller="mainController">

		<!--Header and input field for search -->
	    <section class="container" id="searchBox">
	        <h1>People search</h1>
	        <div class="row">
	            <div class="col-md-12">
	                <input type="text" class="form-control input-lg" name="search-name" placeholder="enter your search term" ng-model="searchText" role="textbox" aria-labelledby="enter your search term">
	            </div>
	        </div>
	    </section>

		<!--Default and Search Result -->
	    <section id="persons" class="container-fluid">
	            <div class="row bottom-margin">
	                <div ng-repeat="person in persons | filter:{ firstName: searchText}" class="col-md-4 text-center">
	                    <img ng-src="{{person.picture}}" alt="{{person.firstName}}'s photo" class="photo" aria-labelledby="{{person.firstName}}">
	                    <h3>{{person.firstName}}</h3>
	                </div>
	            </div>
	    </section>

	</div> <!--Controller closed -->
 </body>
 </html>