@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

$default-text-color: #0489B1;


@mixin search-bar($bottomMargin) {
  min-height: 150px;
  margin-top: $bottomMargin;
}


body { color: $default-text-color; }

#searchBox {
  @include search-bar(30px);
}

.bottom-margin {
  margin-botton: 60px;
}

img{
  @media only screen and (max-width : 768px){
   width: 40%;
  }	
  @media only screen and (max-width : 480px){
    width: 80%;
  }

}


h3, .h3{
  @media only screen and (max-width : 768px){
   font-size: 2.5em;
  }	
  @media only screen and (max-width : 480px){
    font-size: 3em;
  }

}

h1, .h1{
  @media only screen and (max-width : 768px){
   font-size: 3em;
  }	
  @media only screen and (max-width : 480px){
    font-size: 3em;
  }

}







